<div class="jumbotron">
	<h1>Hello There !</h1>
	<p>This is my first Ruby on Rails application. And me being a Star Wars geek, I decided to do the Pinterest-like project from my course (<%= link_to "One Month Rails", 'https://onemonth.com/courses/one-month-rails', target: '_blank' %>) a StarWars spin.</p>
	<p>Hope you guys like it. </p>
	Andrés Fajardo (a.k.a. Fax)
	</p>
</div>

<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="http://andresfajardo.co/" target="_blank">
      Check my website
    </a>
  </li>
</ul>