<div class="jumbotron">
	<h1>About Us</h1>
	<p>I'm am working on the "One month Rails" Printeresting app</p>
</div>

<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="#">
      <span class="badge pull-right">42</span>
      Home
    </a>
  </li>
  This is a test !! from nene pequeñu :)
</ul>