// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pins {
	margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

// #wrap {
//         min-height: 100%;
//         height: auto;
//         height: 100%;
//         Negative indent footer by it's height
//         margin: 0 auto -60px;
//       }

// /* Set the fixed height of the footer here */
// #push,
// #footer {
//   height: 60px;
// }